/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    outline: none;
}

a {
    text-decoration: none;
    color: #000;
}

/* ------- MOBILE PHONE DISPLAY --------- */

@media screen and (max-width: 576px) {

/* TYPOGRAPHY */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    justify-self: start;
    letter-spacing: 0.1em;
}

h1 a {
    font-weight: 700;
}

h1 a span {
    font-size: 0.2em;
    letter-spacing: 0em;
    position: relative;
    right: 2px;
}

h2, h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;;
}

.first a {
    color: #fff;
}

p {
    font-size: 0.9em;
    line-height: 1.5em;
}

p.centered-subtitle {
    text-align: center;
    font-size: 1.2em;
}

p.subtitle {
    font-size: 1.2em;
}

p.read-more {
    text-align: right;
    margin-top: 1.5em;
}

#copyright {
    font-size: 0.7em;
}

/* HEADER */

body .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
}

header {
    background-color: #F2F1F0;
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 1em 0;
}

#navbar-button {
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
}

#shopping-cart {
    width: 20px;
    height: auto;
}


/* MAIN */

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40vh 100vh 50vh 50vh;
}

.landing {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1.5em;
}

.container:hover > h2,
.container:hover > h3,
.container:hover p,
.read-more:hover,
figcaption:hover,
.explore-arrivals:hover,
#back-top:hover {
    text-decoration: underline;
    transition: 0.3s;
    cursor: pointer;
}

.first {
    align-items: center;
    justify-content: center;
}

.functional {
    background-image: url(img/landing-first-background.png);
}

.winter {
    background-image: url(img/guy-with-jacket.png);
}

.essentials {
    background-image: url(img/half-body-clothes.png);
}

.autumn {
    background-image: url(img/autumn-clothes.jpg);
}

/* SECTION NEW ARRIVALS */

section.new-arrivals {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 1.3em;
    grid-row-gap: 1em;
}

.pictures-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

figure {
    display: grid;
    align-items: center;
    justify-items: start;
    padding-left: 0.8em;;
    margin-bottom: 1em;
}

figcaption{
    padding: 0.5em 0 0 0.5em;
    font-size: 0.8em;
    line-height: 1.5em;
}

img.new-arrival-picture {
    width: 90%;
    height: auto;
}

.explore-arrivals {
    text-align: center;
    width: 100%;
    background-color: rgb(150, 150, 150);
    margin: 0 auto;
    padding: 0.8em;
}

.explore-arrivals:hover {
    background-color: #F2F1F0;
}

/* SECTION ABOUT */

.about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 60vh 1fr);
}

.office {
    background-image: url(img/office.jpg);
}

.model {
    background-image: url(img/model.jpg);
}

.text,
footer {
    background-color: #F2F1F0;
    padding: 2em;
}

div#back-top {
    font-size: 1.2em;
    text-align: right;
    padding: 0.8em 1.2em 0.8em 0;
}

/* FOOTER */

footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

div.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    font-size: 0.7em;
    grid-gap: 2.5em;
}

div.box {
    display: grid;
    grid-template-columns: 1fr;
}

img#hexagon {
    width: 60px;
    height: auto;
    margin-bottom: 1em;
}

}